body {
    text-align: center;
    background-color: rgb(247, 233, 214);
}

h1 {
    color: rgb(27, 170, 163);
    font-weight: bold;
}

p {
    color: rgb(27, 170, 163);
    font-size: x-large;
    font-weight: bold;
}

button {
    color: black;
    font-weight: bold;
}